<!-- The login header will either display the user icon or it will have two buttons: login button-->


        <div class="navbar-item navbar-end">
            <div class="buttons ">
                <a *ngIf="(auth.isAuthenticated$ | async) === false" class="button is-primary is-outlined" (click)="loginWithRedirect()">
                    Login
                </a>
                <a *ngIf="(auth.isAuthenticated$ | async) === false" class="button is-info is-outlined" (click)="signUpWithRedirect()">
                    Register
                </a>
                <a *ngIf="(auth.isAuthenticated$ | async)" class="button is-info is-outlined" (click)="logout()">
                    Logout
                </a>
            </div>
        </div>
