<!-- The login header will either display the user icon or it will have two buttons: login button-->


        <div class="navbar-item">
            <div class="buttons">
                <a *ngIf="(auth.isAuthenticated$ | async) === false" class="button is-light" (click)="loginWithRedirect()">
                    Login
                </a>
                <a *ngIf="(auth.isAuthenticated$ | async) === false" class="button is-primary" (click)="signUpWithRedirect()">
                    Register
                </a>
                <a *ngIf="(auth.isAuthenticated$ | async)" class="button is-warning" (click)="logout()">
                    Logout
                </a>
            </div>
        </div>
