.btn {
    background-color: #174d18;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: help;
    width: 100%;
    display: block;
}
.btn:hover {
    opacity: 0.8;
    background-color: white;
    border: black;
    border-radius: 2px;
    color: black;
}

.btn-primary {
    background-color: #327512;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.btn-xl {
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 5px;
}

a:hover {
    text-decoration: none;
    
    transition: 0.5s ease;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}