<!--
  This is a landing page for the application. A first time user will be prompted to register by clicking a button labeled "Register". A registered user will be prompted to login by clicking a button labeled "Login". If the user is already registered and logged in, the application will redirect to the home page. 

  The home page will display a list of the services available to the user. The user can click on a service to view the details of the service. Each of the services will have a monthly fee, a description, and a button labeled "View Details". The user can click on the "View Details" button to view the details of the service. 

  Disabled services will be displayed in a different color. They will have a description and the option to purchase the service for a monthly fee. The user can click on the "Purchase" button to purchase the service.

  The home page will have a sidebar that will display the user's name and the user's balance. The user can click on the "Logout" button to logout of the application. The user can click on the "Logout" button to logout of the application. The user can also add funds to their account by clicking on the "Add Funds" button. This will take the user to a page where they can enter the amount of funds they would like to add to their account. The user can click on the "Add Funds" button to add funds to their account. Additionally, they can add a credit card to their account by clicking on the "Add Credit Card" button. This will take the user to a page where they can enter the credit card information. The user can click on the "Add Credit Card" button to add a credit card to their account.

  Each of the pages is accessible by clicking on the corresponding button on the home page. All of the pages are separate angular components. The home page is the root component.
-->
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="/" class="icon is-large has-text-info">
      <i class="fas fa-2x fa-code-branch"></i>
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <button
        class="button is-primary is-fullwidth"
        routerLink="/home"
        [ngClass]="{
          'is-selected': router.url === '/home'
        }"
      >
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span> Home </span>
        </span>
      </button>
    </div>
    <div class="navbar-item">
      <button
        class="button is-info is-fullwidth"
        routerLink="/services"
        [disabled]="(auth.isAuthenticated$ | async) === false"
        [ngClass]="{
          'is-selected': router.url === '/services'
        }"
      >
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-cogs"></i>
          </span>
          <span>Services</span>
        </span>
      </button>
    </div>
    <div class="navbar-item">
      <button
        class="button is-fullwidth"
        routerLink="/account"
        [disabled]="(auth.isAuthenticated$ | async) === false"
        [ngClass]="{
          'is-success': (auth.isAuthenticated$ | async),
          'is-selected': router.url === '/account'
        }"
      >
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-user"></i>
          </span>
          <span>Account</span>
        </span>
      </button>
    </div>


    <app-login-header></app-login-header>
  </div>
</nav>

<router-outlet> </router-outlet>
